# Deployed via Ansible - NETSYSSEC480

network:
  version: 2
  ethernets:
    ens160:
      addresses: [{{ lan_ip }}/{{ prefix }}]
      gateway4: {{ gateway }}
      nameservers:
        addresses: [{{ name_server }}]
