TYPE=ETHERNET
PROXY_METHOD=NONE
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME="{{ device }}"
DEVICE="{{ device }}"
ONBOOT=yes
IPADDR="{{ lan_ip }}"
PREFIX="{{ prefix }}"
GATEWAY="{{ gateway }}"
DNS1="{{ name_server }}"
DOMAIN="{{ domain }}"
