netsh interface ip set address "{{ device }}" static "{{ lan_ip }}" "{{ netmask }}" "{{ gateway }}"
netsh interface ip set dns name="{{ device }}" static "{{ gateway }}"
Restart-Computer -Force -Confirm:$false